services:
  postgres:
    image: 'postgres:18'
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: ${SPRING_DATASOURCE_USERNAME:?set SPRING_DATASOURCE_USERNAME in .env}
      POSTGRES_PASSWORD: ${SPRING_DATASOURCE_PASSWORD:?set SPRING_DATASOURCE_PASSWORD in .env}
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: 'redis:7'
    restart: on-failure
    ports:
      - "${SPRING_REDIS_PORT:-6379}:6379"
    volumes:
      - redis_data:/data

#  пока отключил контейнеры, чтобы видеть логи локально в idea
#  backend:
#    build:
#      context: ./
#    ports:
#      - "8080:8080"
#    environment:
#      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
#      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
#      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
#      SPRING_REDIS_HOST: ${SPRING_REDIS_HOST}
#      SPRING_REDIS_PORT: ${SPRING_REDIS_PORT}
#
#    depends_on:
#      - postgres
#      - redis
#
#  frontend:
#    build:
#      context: ./frontend
#    ports:
#      - "5173:5173"
#    volumes:
#      - ./frontend:/app
#      - /app/node_modules
#    depends_on:
#      - backend

volumes:
  postgres_data:
  redis_data:

  ##notion
#     Volume = “жёсткий диск для контейнера”
#     Без него:
#     контейнер — как RAM
#     умер → всё пропало
#     сервисы начинают ломаться
